body {
  text-align: center;
  background: black;
  font-family: "Poppins", sans-serif;
  color: rgb(6, 229, 236);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 40px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.container p {
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  color:white;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

img:hover {
  transform: scale(1.1);
}

button {
  margin-top: 40px;
  padding: 10px 30px;
  background-color: #17b8d8;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #17d4d4;
  transform: scale(1.05);
}
