body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #fdeef4;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 300px;
  padding: 28px;

  background: #fff6fa;
  border-radius: 20px;

  box-shadow: 0 8px 18px rgba(255, 192, 203, 0.35);

  border: 1px solid rgba(255, 182, 193, 0.4);

  animation: fadeIn 0.9s ease-out;
}

h1 {
  text-align: center;
  margin-bottom: 18px;
  color: #b7054f;
  font-weight: 800;
}

label {
  margin-left: 5px;
  font-size: 15px;
  color: #a25c74;
  font-weight: 500;
}

input {
  height: 36px;
  width: 90%;
  padding: 6px 10px;
  margin: 8px 0 18px 0;

  background: #fff;
  border-radius: 10px;
  border: 1px solid #f5c5d5;

  outline: none;
  transition: 0.25s;
}

input:focus {
  border-color: #ff84b7;
  box-shadow: 0 0 9px rgba(255, 138, 180, 0.35);
}

button {
  height: 38px;
  width: 65%;
  margin-left: 18%;

  background: linear-gradient(145deg, #ff8fb6, #ffb7d5);
  border: none;
  border-radius: 12px;

  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.06);
  box-shadow: 0 6px 13px rgba(255, 116, 164, 0.45);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
